body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #333;
  background: linear-gradient(to right, #e66465, #a020f0, #1974d1);
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #337ab7;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  color: #121212;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  width: 95%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
textarea {
  resize: none;
}

input[type="submit"] {
  background-color: #337ab7;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #23527c;
}

/* Form Styles */

#cv-form {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

#cv-form h2 {
  margin-top: 0;
}

#cv-form label {
  margin-bottom: 5px;
}

#cv-form input[type="text"],
#cv-form input[type="email"],
#cv-form input[type="tel"],
#cv-form textarea {
  margin-bottom: 15px;
}

#cv-form textarea {
  height: 100px;
  resize: none;
}

/* Section Styles */

.section {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

.section:last-child {
  border-bottom: none;
}

.section h2 {
  margin-top: 0;
}

.container-template {
  max-width: 700px;
  background: #ffffff; /* cor do fundo do template */
  margin: 0px auto 0px;
  box-shadow: 1px 1px 2px #dad7d7;
  border-radius: 3px;
  padding: 40px;
  margin-top: 50px;
  border: #000 solid 1px;
}
#DowPDF {
  margin-top: 30px;
  font-weight: bolder;
  border-radius: 5px;
}

.header {
  margin-bottom: 30px;

  .full-name {
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 5px;
  }

  .first-name {
    font-weight: 700;
  }

  .last-name {
    font-weight: 300;
  }

  .contact-info {
    margin-bottom: 20px;
  }

  .email,
  .phone {
    color: #999;
    font-weight: 300;
  }

  .separator {
    height: 10px;
    display: inline-block;
    border-left: 2px solid #999;
    margin: 0px 10px;
  }

  .position {
    font-weight: bold;
    display: inline-block;
    margin-right: 10px;
    text-decoration: underline;
  }
}

.details {
  line-height: 20px;

  .section {
    margin-bottom: 40px;
  }

  .section:last-of-type {
    margin-bottom: 0px;
  }

  .section__title {
    letter-spacing: 2px;
    color: #54afe4;
    font-weight: bold;
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  .section__list-item {
    margin-bottom: 40px;
  }

  .section__list-item:last-of-type {
    margin-bottom: 0;
  }

  .left,
  .right {
    vertical-align: top;
    display: inline-block;
  }

  .left {
    width: 60%;
  }

  .right {
    text-align: right;
    width: 39%;
  }

  .name {
    font-weight: bold;
  }

  a {
    text-decoration: none;
    color: #000;
    font-style: italic;
  }

  a:hover {
    text-decoration: underline;
    color: #000;
  }

  .skills__item {
    margin-bottom: 10px;
  }

  .skills__item .right {
    input {
      display: none;
    }

    label {
      display: inline-block;
      width: 20px;
      height: 20px;
      background: #c3def3;
      border-radius: 20px;
      margin-right: 3px;
    }
  }
}
